.ContainerPrincipal{
     width: max-content;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    background-color: aqua;
}
.Seccion{
    display: flex;
    flex-direction: row;
}