.principal{
    display: flex;
    gap: 16px;
}
.body{
    
    background-color: rgba(116, 126, 137, 0.3);
        width: 80%;
       border-radius: 15px;
        margin-top: 20px;
        max-height: max-content;
        padding: 10px;
        border: 1px solid white;
        margin-left: 180px;
    }