body{
    background:#263344;
}


.mayor{
    margin-top: 80px;
    margin-left: 575px;
    background: rgba(116, 126, 137, 0.3);
    width: 800px;
    height: 700px;
    border-radius: 40px;
}
h1{
    color: white;
}
.registro{
    text-align: center;
    margin-top: 20px
}
label{
    color: rgb(0, 0, 0);
    text-align: center
    
}

select{
    color: black;
    margin: 13px;
    border: 2px solid black;
    border-radius:10px ;
    padding-left: 50px;
    padding-right: 3px;
    background-color: #A1B9D1;
}

.divdatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.divdatos form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 300px; 
} 
/* Estilos para los placeholders */
input::placeholder,
select::placeholder {
  color: #645555; 
}

input:focus::placeholder,
select:focus::placeholder {
    color: #645555; 
}


input {
    background-color: #A1B9D1;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    color: black;
    padding-left: 15px;
}

.divre{
    margin-top: 5px;
    margin-left: 68px;

}
.registros{
    border-radius: 15px;
    background-color: rgb(106, 106, 130);
    width: 110px;
    height: 33px;
    
}

