
.contenedor2{
    width: 100%;
}
.textDeCrearCampeonato{
    font-size: 20px;
    height: 25px;
    text-align: center;
    color: white;
}
.Formulario{
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(87, 97, 105);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 30px;
    margin-top: 25px;
    color: white;
} 

.form-group{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    border:none;
}


.form-group input{
    display: flex;
    align-content: center;
    width: 20em;
    font-size: 18px;
    border-radius: 5px;
    border: white solid 2px;
    background-color: transparent;
    color: white;
    transition: 0.15s all ease;
    
}
.form-group input:focus{
    border-color:white;
   
}
.form-group input::placeholder{
    color: transparent;
}
.form-group .form-label{
    position: absolute;
   text-align: center;
    top: auto;
    font-size: 18px;
    padding: 5px 50px;
    color: rgba(255, 255, 255, 0.527);
    pointer-events: none;
    transition: 0.15s all ease;
}

.form-group input:focus + .form-label, .form-group input:not(:placeholder-shown) + .form-label{  transform: translate(10px ,-15px); 
    background-color: #43474d;
font-size: 16px;
color:white;
}

.selectores{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 80px;
}
.selectoresFinal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 29px;
}
.opcionesSelector{
    background-color: #43474d;
    color: black;
}

option, select{
    color:rgb(255, 0, 0);
}

.botonCalendar{
   display: flex;
   flex-direction : row ;
}
.fechas{
    background-color: #e23832;
    border-radius: 5px;
    border: 2px solid black;
}
.fechas:hover{
    background-color: #ff0000;
}
.diasDefinidos{
     display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;

}