.Bienestar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.55);
    width: 85%;
    padding: 70px 20px 70px 20px;
    border-radius: 10px 10px 0px 0px;
    height: 80%;
}