.Conten {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    padding-top: 50px;


}



.Sub-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.55);
    width: 90%;
    padding: 50px;
    border-radius: 10px;


}

.cont-p {
    width: 60%;
    font-size: 25px;
    margin-right: 50px;

}


.Sub-cont button {
    background-color: #C63F3F;
    padding: 10px;
    width: 230px;
    border-radius: 10px;
    font-weight: bold;

}

.photo{
    display: flex;
    flex-direction: row;
}

.photo img {
    overflow: hidden;
    width: 400px;
    height: 300px;
}